/* PORTFOLIO PAGE */

.portfolio {
    padding: 0 5%;
    background: linear-gradient(200deg, #fff, rgba(0, 255, 0, 0.25), rgba(0, 174, 255, 0.75), rgb(162, 0, 255));
    min-height: 100vh;
}

.portfolioTitle {
    line-height: 2.5;
    text-align: center;
    font-size: 300%;
    color: rgb(162, 0, 255);
}
.slide {
    animation: slideInLeft 1.2s;
}
.portfolio-note {
    padding-bottom: 20px;
    color: white;
}
.portfolio-items {
    display: grid;
    grid-template-columns: 100%;
}
.portfolio img {
    height: 50px;
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid black;
}

.imgWithLabel {
    margin: 0 10px 0 0;
}
.xkcd {
    border: 1px solid black;
}
.item {
    position: relative;    
    display: block;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 0px auto 20px auto;
    transition: .5s;
    box-shadow:  0 20px 20px -15px white;
    /* border-radius: 5%; */
}

.item:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    /* box-shadow: none; */
    box-shadow:  0 20px 30px -5px white;
}
.item:active {
    background-color: rgba(0, 0, 0, 0.2);
}
/* .item:hover:before {
    animation: box .5s linear forwards;
} */

.item:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
}

/* .item:hover:after {
    animation: box2 .5s linear forwards;
} */

/* MEDIA QUERIES */

@media (min-width: 600px) {
    .portfolio-items {
        grid-template-columns: 50% 50%;
    }
    .item {
        font-size: 110%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media (min-width: 1024px) {
    .portfolio-items {
        grid-template-columns: 33% 33% 33%;
    }
    .item {
        font-size: 120%;
        height: 250px;
    }
    .portfolio img {
        height: 60px;
    }
}

/* ANIMATIONS */

@keyframes slideInLeft {
    from {
        transform: translateX(-80vw)
    }
    50% {
        transform: translateX(10vw) skewX(-30deg)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes box {
    0% {
        width: 0;
        height: 0;
        border-top-color: #000;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #000;
        border-right-color: #000;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #000;
        border-right-color: #000;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes box2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #000;
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #000;
        border-left-color: #000;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #000;
        border-left-color: #000;
    }
}
