/* ALL */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,900|Syncopate");
* {
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.imp {
    font-weight: 400;
}

button {
    cursor: pointer;
}

/* TOP NAV BAR */

.topNav {
    height: 50px;
}

.navButtons {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.underline {
    height: 1px;
    width: 0;
    background: #000;
    transition: .2s;
}

.navButton {
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}
@media (max-width: 599px) {
    .navButton {
        height: 100%;
    }
}

.navButton:hover .underline {
    width: 100%;
    transition: .2s;
}

@media (min-width: 600px) {
    .navButton {
        font-size: 1.2em;
    }
    .navButtons {
        border-bottom: 1px solid gray;
        box-shadow: inset 0 0 10px 10px white;
    }
    .navButton:hover {
        /* text-shadow: 5px 5px 5px #888; */
        cursor: pointer;
        transition: .5s;
    }
    .navButton:active {
        cursor: pointer;
        color: blue;
    }
}

@media (min-width: 1000px) {
    .navButton {
        font-size: 1.4em;
    }
}

/* HOME PAGE */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    letter-spacing: 1px;
    padding: 0 0 20px 0;
    text-align: center;
}

.title {
    margin: 20px 0 0 0;
    font-size: 5em;
}

.main p,
.main a {
    margin: 20px 0 5vh 0;
}

@media (min-width: 600px) {
    .main p {
        font-size: 1.2em;
    }
}

.main>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
}

.main img {
    height: 30px;
    margin-right: 10px;
}

.rainbow {
    animation: pulse 30s infinite;
}

.black {
    color: black;
}

@keyframes imgPulse {
    from {
        filter: hue-rotate(0deg)
    }
    to {
        filter: hue-rotate(360deg)
    }
}

@keyframes pulse {
    10% {
        color: rgb(238, 130, 202);
    }
    20% {
        color: rgb(225, 0, 255);
    }
    30% {
        color: blue;
    }
    40% {
        color: rgb(0, 191, 255);
    }
    50% {
        color: green;
        text-shadow: none;
    }
    60% {
        color: greenyellow;
        /* text-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5); */
    }
    70% {
        color: rgb(255, 251, 0);
        /* text-shadow: 0px 20px 5px rgba(0, 0, 0, 0.5); */
    }
    80% {
        color: orange;
        /* text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); */
    }
    90% {
        color: rgb(255, 123, 0);
        text-shadow: none;
    }
}

/* RESUME PAGE */

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 5px;
    background: #f1f1f1;
    box-shadow: 0 0 2px #888;
}

.resumeContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

.resumeContact>* {
    margin: 1px 0 0 0;
}

.resumeContent {
    background: #fff;
    width: 99%;
    padding: 3%;
}

.resumeContent>* {
    margin: 0 0 10px 0;
}

.resumeContent h2 {
    margin: 5px 0;
}

.skills,
.education,
.experience,
.resPortfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* RESUME SKILLS SECTION */

.skillsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.skillsContainer>* {
    margin: 0 0 1px 0;
    font-weight: 300;
}

/* RESUME EDUCATION SECTION */

.eduContainer {
    list-style: none;
    font-size: .9em;
    width: 95%;
}

.eduContainer>* {
    margin: 0 0 10px 0;
}

.eduTitle {
    font-weight: 300;
    font-size: 1em;
}

.eduSub {
    padding: 0 0 0 20px;
    display: flex;
}

/* RESUME EXPERIENCE SECTION */

.expContainer {
    list-style: none;
    font-size: .9em
}

.expContainer>* {
    margin: 0 0 10px 0;
}

.expContainer h3,
.expContainer h4 {
    font-weight: 300;
}

.expContainer h4 {
    font-size: .9em;
    margin: 5px 0 0 0;
}

.expContainer span,
.expContainer p {
    display: flex;
    padding: 0 0 0 20px;
    margin: 0 0 1px 0;
}

/* RESUME PORTFOLIO SECTION */

.resPortContainer {
    list-style: none;
}

.resPortContainer>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resPortContainer a {
    color: #000;
    text-decoration: none;
}

.website {
    margin: 10px 0 20px 0;
}

.resPort {
    margin: 10px 0 10px 0;
}

.mLogo,
.resPortContainer img {
    margin: 0 10px 0 0;
}

.mLogo {
    margin-bottom: -5px;
    font-size: 20px;
    font-family: 'Syncopate', sans-serif;
}

.resPortContainer img {
    height: 20px;
}

/* RESUME REFERENCES SECTION */

.references {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.refContainer {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    width: 80%;
}

.refContainer > * {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.refContainer h4,
.refPhone {
    font-weight: 300;
}
.ref {
    width: 150px;
    padding-left: 20px;
    margin-top: 15px;
}

/* CONTACT PAGE */

.contact {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactTitle {
    margin: 10vh 0;
}

.contactPhone,
.contactEmail {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    font-size: 1.2em;
}

.contactPhone>span,
.contactEmail>span {
    font-weight: 300;
}

.contactPhone img,
.contactEmail img {
    height: 20px;
    margin: 0 10px 0 0;
}

/* CONTACT FORM */

.contactForm {
    margin: 30px 0 0 0;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.messages {
    text-align: center;
}

.message {
    margin: 0 0 10px 0;
    color: #f00;
}

.contactInputLabel,
.contactTALabel {
    margin: 0 0 2px 0;
    font-size: 1em;
}

.contactInput {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 1em;
    font-weight: 300;
    padding: 1px;
    border: 1px solid #aaa;
}

.contactTA {
    width: 100%;
    min-height: 110px;
    margin: 0 0 20px 0;
    font-size: 1em;
    font-weight: 300;
    padding: 2px;
    resize: none;
    border: 1px solid #aaa;
}

.contactButtonContainer {
    display: flex;
    justify-content: center;
}

.contactSubmit {
    width: 100px;
    height: 100%;
    font-size: 1em;
    box-shadow: 2px 2px 5px #888;
    border-radius: 3px;
    margin-bottom: 50px;
}

.contactSubmit:active {
    box-shadow: 1px 1px 1px #888;
}

/* THANKYOU MESSAGE */

.thankyouMessage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.tyModal {
    position: relative;
    background: #fff;
    box-shadow: 2px 2px 10px #888;
    width: 90%;
    height: 150px;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 12px;
    border: none;
    font-size: 2em;
    line-height: .5;
    outline: none;
}

.tyModal1 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

/* ADMIN VIEW CONTACTS PAGE */

.adminViewContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminViewContacts h1 {
    padding: 0 0 10px 0;
}

.adminContact {
    position: relative;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

.removeButton {
    position: absolute;
    right: 10px;
    width: 20px;
    font-size: .9em;
    color: #000;
    padding: 0 0 3px 0;
    border-radius: 50%;
    outline: none;
}

.contactAttb {
    padding: 0 0 2px 0;
}

.adminContact span {
    font-weight: 300;
}

/* media queries */

@media (min-width: 374px) {
    .main p {
        width: 50%;
    }
}

@media (min-width: 767px) {
    .contactForm {
        margin: 0 10vw;
    }
    .contactTitle {
        margin: 5vh 0;
    }
    .contactPhone,
    .contactEmail {
        margin: 0 0 40px 0;
    }
    .contactInput,
    .contactInputLabel,
    .contactTALabel,
    .contactTA {
        width: 50%;
        margin: 0 auto;
    }
    .contactInput {
        margin: 0 auto 10px auto;
    }
    .contactSubmit {
        margin: 20px 0 50px 0;
    }
}