/* MOBILE NAV BAR */

.mobile-nav {
    height: 50px;
    background-color: #323232;
}
.mNavButtons {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.underline {
    height: 1px;
    width: 0;
    background: #fff;
    transition: .2s;
}

.mNavButton {
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    font-size: 1.5em;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 20px;
}
.navButton:hover {
    transition: .5s;
    color: lime;
}
.navButton:active {
    cursor: pointer;
    color: lime;
}
.navButton:hover .underline {
    width: 100%;
    transition: .2s;
    color: #cacaca;
}

@media (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
}

.mNavMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 100%;
    transition: .5s;
    height: 300vh;
    overflow: hidden;
    background: #323232;
}
.mNavActive {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 50px;
    background: #323232;
    transition: .5s;
    height: 100%;
}
*:focus {
    outline: none;
}
.mNavMenuLink {
    text-decoration: none;
    color: white;
    background-color: #323232;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 20px
}
.mNavMenuLink:hover {
    background: #232323;
}