// RESUME PAGE 

.resume {
    background-image: url('../media/wood.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 75px;
        background: #fff;
        box-shadow: 0 0 2px #888;
        max-width: 1000px;
    
        p, li {
            font-size: 14px;
            font-weight: 400;
            margin: .9em 0;
        }

        b {
            font-weight: bold;
        }

        .title-underlined {
            font-size: 14px;
            font-weight: 600;
            width: 100%;
            padding: 5px;
            border-bottom: 2px solid black;
        }
    
        .title {
            font-size: 14px;
            font-weight: 600;
            width: 100%;
            padding: 6px 0;
        }

        .title2 {
            font-size: 14px;
            font-weight: 600;
            width: 100%;
            padding-top: 30px;
        }

        ul {
            padding-left: 50px;
        }
    
        .header {
            display: flex;
            width: 100%;
    
            .left {
                width: 50%;
    
                h1 {
                    margin: 0.67em 0;
                    font-weight: 400;
                }
            }
    
            .right {
                width: 50%;
            }

            @media (max-width: 650px) {
                .left, .right {
                    width: 100%;
                }
            }
        }

        @media (max-width: 650px) {
            .header {
                flex-direction: column;
            }
        }

        .summary,
        .experience,
        .achievements,
        .education {
            padding: 24px 5px;
            width: 100%;
        }

        .gb-paragraph {
            line-height: 125%;
        }
    }

    @media (max-width: 650px) {
        .page {
            padding: 75px 20px;
        }
    }
}

@media (max-width: 1028px) {
    .resume {
        padding: 10px;
    }
}