/* TOP NAV BAR */

.topNav {
    height: 50px;
    background-color: #323232;
}

.navButtons {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navButton {
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media (max-width: 599px) {
    .navButton {
        height: 100%;
    }
    .topNav {
        display: none;
    }
}

@media (min-width: 600px) {
    .navButton {
        font-size: 1.2em;
    }
    .navButton:active {
        cursor: pointer;
        color: lime;
    }
    .navButton:hover {
        transition: .5s;
        color: lime;
    }
    .navButton:hover .underline {
        width: 100%;
        transition: .2s;
        color: #cacaca;
    }
    .underline {
        height: 1px;
        width: 0;
        background: #fff;
        transition: .2s;
    }
}

@media (min-width: 1000px) {
    .navButton {
        font-size: 1.4em;
    }
}
