/* HOME PAGE */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    letter-spacing: 1px;
    padding: 0 0 20px 0;
    text-align: center;
    perspective: 1000px;
    perspective-origin: top;
}
.title-container {
    padding: 20px;
    margin-top: 40px;
    width: 75%;
    box-shadow: 0 0 20px darkgreen, 5px -2px 50px 15px lime;
    transform: rotateY(270deg);
    animation: spinin 2s forwards;
    animation-timing-function: cubic-bezier(.64,.01,.36,.99);
    user-select: none;
    cursor: pointer;
    transition: 2s;
}
@keyframes spinin {
    100% {
        transform: rotateY(-5deg);
    }
}
.title {
    margin: 5px 0;
    font-size: 3em;
}
@media (min-width: 600px) {
    .title-container {
        width: auto;
        margin-top: 50px;
        padding: 20px;
    }
    .title {
    margin: 20px 0 10px 0;        
    }
}
.main-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
}

@media (min-width: 600px) {
    .subtitle {
        font-size: 1.2em;
    }
}

.main-links > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    margin: 20px 0 5vh 0;
}

.main img {
    height: 30px;
    margin-right: 10px;
}

.rainbow {
    animation: pulse 30s infinite;
}

.black {
    color: black;
}

@keyframes imgPulse {
    from {
        filter: hue-rotate(0deg)
    }
    to {
        filter: hue-rotate(360deg)
    }
}

@keyframes pulse {
    10% {
        color: rgb(238, 130, 202);
    }
    20% {
        color: rgb(225, 0, 255);
    }
    30% {
        color: blue;
    }
    40% {
        color: rgb(0, 191, 255);
    }
    50% {
        color: green;
        text-shadow: none;
    }
    60% {
        color: greenyellow;
        /* text-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5); */
    }
    70% {
        color: rgb(255, 251, 0);
        /* text-shadow: 0px 20px 5px rgba(0, 0, 0, 0.5); */
    }
    80% {
        color: orange;
        /* text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); */
    }
    90% {
        color: rgb(255, 123, 0);
        text-shadow: none;
    }
}